*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

img {
  display: block;
}

a {
  text-decoration: none;
}

button {
  padding: 0;
  border: none;
}

.container {
  max-width: 360px;
  padding: 0 15px;
  margin: 0 auto;
}
@media screen and (min-width: 393px) {
  .container {
    max-width: 393px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 20px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}
@media screen and (min-width: 1366px) {
  .container {
    max-width: 1366px;
  }
}
@media screen and (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}
@media screen and (min-width: 1920px) {
  .container {
    max-width: 1920px;
  }
}

.header__inner {
  position: relative;
  width: 100%;
}

.header__standart {
  display: none;
}
@media screen and (min-width: 1280px) {
  .header__standart {
    position: absolute;
    display: flex;
    align-items: center;
    padding-top: 22px;
    padding-left: 24px;
    justify-content: space-between;
    width: 100%;
    min-height: 175px;
  }
}

.logo__standart {
  display: block;
  width: 120px;
  height: 160px;
  background-image: url("../images/svg/logo__standart.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
}
@media screen and (min-width: 1536px) {
  .logo__standart {
    width: 130px;
    height: 170px;
  }
}
@media screen and (min-width: 1920px) {
  .logo__standart {
    width: 152px;
    height: 200px;
  }
}

.nav-standart {
  padding-bottom: 80px;
}

.nav__list-standart {
  display: flex;
  width: 917px;
  justify-content: space-between;
}
@media screen and (min-width: 1366px) {
  .nav__list-standart {
    width: 984px;
  }
}
@media screen and (min-width: 1536px) {
  .nav__list-standart {
    width: 1116px;
  }
}
@media screen and (min-width: 1920px) {
  .nav__list-standart {
    width: 1320px;
  }
}

.nav__link-standart {
  font-weight: 400;
  font-size: 26px;
  line-height: 1.33;
  color: #AC8A1A;
}
@media screen and (min-width: 1366px) {
  .nav__link-standart {
    font-size: 28px;
  }
}
@media screen and (min-width: 1536px) {
  .nav__link-standart {
    font-size: 30px;
  }
}
@media screen and (min-width: 1920px) {
  .nav__link-standart {
    font-size: 36px;
  }
}

.header__mobile {
  position: absolute;
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  align-items: center;
  width: 100%;
  height: 120px;
  z-index: 1;
}
@media screen and (min-width: 1280px) {
  .header__mobile {
    display: none;
  }
}

.logo__mobile {
  display: block;
  width: 90px;
  height: 108px;
  background-image: url("../images/svg/logo__mobile.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
}

.button__burger {
  display: block;
  width: 56px;
  height: 52px;
  background-image: url("../images/svg/burger.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
}

.header__mobile-menu {
  display: none;
  position: absolute;
  left: 4%;
  width: 334px;
  height: 100vh;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid #AC8A1A;
  border-radius: 25px 0px 0px 20px;
  background-color: #F6F6F6;
  z-index: 3;
}
@media screen and (min-width: 393px) {
  .header__mobile-menu {
    left: 12%;
  }
}
@media screen and (min-width: 768px) {
  .header__mobile-menu {
    left: 44%;
    width: 430px;
  }
}
@media screen and (min-width: 1280px) {
  .header__mobile-menu {
    display: none;
  }
}

.button__close-thumb {
  padding-top: 22px;
  padding-left: 22px;
  padding-bottom: 22px;
}

.button__close {
  display: block;
  width: 56px;
  height: 52px;
  background-image: url("../images/svg/burgerClose.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
}

.nav-mobile {
  min-height: 660px;
  padding-bottom: 60px;
}
@media screen and (min-width: 393px) {
  .nav-mobile {
    min-height: 720px;
    padding-bottom: 70px;
  }
}
@media screen and (min-width: 768px) {
  .nav-mobile {
    min-height: 850px;
    padding-bottom: 100px;
  }
}

.nav__list-mobile {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.nav__link-mobile {
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  line-height: 1.32;
  color: #AC8A1A;
}

.nav__link-mobile:hover::after,
.nav__link-mobile:focus::after {
  content: "";
  display: block;
  height: 3px;
  width: 100%;
  margin-top: 7px;
  background-color: #AC8A1A;
}

.nav__link-active::after {
  content: "";
  display: block;
  height: 3px;
  width: 100%;
  margin-top: 7px;
  background-color: #AC8A1A;
}

.hero {
  display: block;
  min-width: 360px;
  min-height: 800px;
  padding-top: 210px;
  background-image: url("../images/main/hero/hero360-1px.webp"), url("../images/main/hero/hero360-1px.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 0;
}
@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .hero {
    background-image: url("../images/main/hero/hero360-2px.webp"), url("../images/main/hero/hero360-2px.jpg");
  }
}
@media screen and (min-width: 393px) {
  .hero {
    min-width: 393px;
    min-height: 873px;
    padding-top: 268px;
    background-image: url("../images/main/hero/hero393-1px.webp"), url("../images/main/hero/hero393-1px.jpg");
  }
}
@media screen and (min-width: 393px) and (min-device-pixel-ratio: 2), screen and (min-width: 393px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 393px) and (min-resolution: 192dpi), screen and (min-width: 393px) and (min-resolution: 2dppx) {
  .hero {
    background-image: url("../images/main/hero/hero393-2px.webp"), url("../images/main/hero/hero393-2px.jpg");
  }
}
@media screen and (min-width: 768px) {
  .hero {
    min-width: 768px;
    min-height: 1024px;
    padding-top: 244px;
    background-image: url("../images/main/hero/hero768-1px.webp"), url("../images/main/hero/hero768-1px.jpg");
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: url("../images/main/hero/hero768-2px.webp"), url("../images/main/hero/hero768-2px.jpg");
  }
}
@media screen and (min-width: 1280px) {
  .hero {
    min-width: 1280px;
    min-height: 800px;
    padding-top: 242px;
    padding-right: 56px;
    background-image: url("../images/main/hero/hero1280-1px.webp"), url("../images/main/hero/hero1280-1px.jpg");
  }
}
@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (min-resolution: 192dpi), screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  .hero {
    background-image: url("../images/main/hero/hero1280-2px.webp"), url("../images/main/hero/hero1280-2px.jpg");
  }
}
@media screen and (min-width: 1366px) {
  .hero {
    min-width: 1366px;
    min-height: 768px;
    padding-top: 252px;
    padding-right: 44px;
    background-image: url("../images/main/hero/hero1366-1px.webp"), url("../images/main/hero/hero1366-1px.jpg");
  }
}
@media screen and (min-width: 1366px) and (min-device-pixel-ratio: 2), screen and (min-width: 1366px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1366px) and (min-resolution: 192dpi), screen and (min-width: 1366px) and (min-resolution: 2dppx) {
  .hero {
    background-image: url("../images/main/hero/hero1366-2px.webp"), url("../images/main/hero/hero1366-2px.jpg");
  }
}
@media screen and (min-width: 1536px) {
  .hero {
    min-width: 1536px;
    min-height: 864px;
    padding-top: 286px;
    padding-right: 86px;
    background-image: url("../images/main/hero/hero1536-1px.webp"), url("../images/main/hero/hero1536-1px.jpg");
  }
}
@media screen and (min-width: 1536px) and (min-device-pixel-ratio: 2), screen and (min-width: 1536px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1536px) and (min-resolution: 192dpi), screen and (min-width: 1536px) and (min-resolution: 2dppx) {
  .hero {
    background-image: url("../images/main/hero/hero1536-2px.webp"), url("../images/main/hero/hero1536-2px.jpg");
  }
}
@media screen and (min-width: 1920px) {
  .hero {
    width: 100%;
    min-height: 1080px;
    padding-top: 336px;
    padding-right: 148px;
    background-image: url("../images/main/hero/hero1920-1x.webp"), url("../images/main/hero/hero1920-1x.jpg");
  }
}
@media screen and (min-width: 1920px) and (min-device-pixel-ratio: 2), screen and (min-width: 1920px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1920px) and (min-resolution: 192dpi), screen and (min-width: 1920px) and (min-resolution: 2dppx) {
  .hero {
    background-image: url("../images/main/hero/hero1920-2x.webp"), url("../images/main/hero/hero1920-2x.jpg");
  }
}

.hero__title {
  font-family: "Cormorant Infant", sans-serif;
  font-weight: 600;
  font-size: 38px;
  line-height: 1.33;
  text-align: center;
  color: #AC8A1A;
  text-shadow: 10px 10px 20px rgba(0, 0, 0, 0.42);
}
@media screen and (min-width: 393px) {
  .hero__title {
    font-size: 42px;
  }
}
@media screen and (min-width: 768px) {
  .hero__title {
    font-size: 62px;
  }
}
@media screen and (min-width: 1280px) {
  .hero__title {
    font-size: 66px;
    text-align: right;
  }
}
@media screen and (min-width: 1366px) {
  .hero__title {
    font-size: 72px;
  }
}
@media screen and (min-width: 1536px) {
  .hero__title {
    font-size: 76px;
  }
}
@media screen and (min-width: 1920px) {
  .hero__title {
    font-size: 84px;
  }
}

.features {
  margin: 0 auto;
}
@media screen and (min-width: 360px) and (max-width: 392px) {
  .features {
    height: 800px;
  }
}
@media screen and (min-width: 393px) {
  .features {
    width: 100%;
    min-height: 873px;
  }
}
@media screen and (min-width: 768px) {
  .features {
    min-height: 1024px;
  }
}
@media screen and (min-width: 1280px) {
  .features {
    min-height: 800px;
  }
}
@media screen and (min-width: 1366px) {
  .features {
    min-height: 768px;
  }
}
@media screen and (min-width: 1536px) {
  .features {
    min-height: 864px;
  }
}
@media screen and (min-width: 1920px) {
  .features {
    min-height: 1080px;
  }
}

.features__inner {
  width: 100%;
  height: 800px;
  padding-top: 110px;
  padding-bottom: 110px;
}
@media screen and (min-width: 393px) {
  .features__inner {
    height: 873px;
    padding-top: 130px;
    padding-bottom: 130px;
  }
}
@media screen and (min-width: 768px) {
  .features__inner {
    height: 1024px;
    padding-top: 160px;
    padding-bottom: 160px;
  }
}
@media screen and (min-width: 1280px) {
  .features__inner {
    height: 800px;
    padding-top: 120px;
    padding-bottom: 120px;
  }
}
@media screen and (min-width: 1366px) {
  .features__inner {
    height: 768px;
    padding-top: 110px;
    padding-bottom: 110px;
  }
}
@media screen and (min-width: 1536px) {
  .features__inner {
    height: 864px;
    padding-top: 140px;
    padding-bottom: 140px;
  }
}
@media screen and (min-width: 1920px) {
  .features__inner {
    height: 1080px;
    padding-top: 160px;
    padding-bottom: 160px;
  }
}

.features__list {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
@media screen and (min-width: 768px) {
  .features__list {
    width: 592px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1920px) {
  .features__list {
    width: 770px;
    margin: 0 auto;
  }
}

.features__item {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: flex-start;
}

.features__icon {
  display: block;
  width: 100px;
  height: 80px;
  margin-right: 20px;
  border: 1px solid #AC8A1A;
  border-radius: 5px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
@media screen and (min-width: 393px) {
  .features__icon {
    width: 108px;
    height: 86px;
  }
}
@media screen and (min-width: 768px) {
  .features__icon {
    width: 182px;
    height: 132px;
    margin-right: 70px;
  }
}
@media screen and (min-width: 1920px) {
  .features__icon {
    width: 220px;
    height: 160px;
    margin-right: 100px;
  }
}

.icon-first {
  background-image: url("../images/svg/yoga_2.svg");
}

.icon-second {
  background-image: url("../images/svg/yoga_3.svg");
}

.icon-third {
  background-image: url("../images/svg/yoga_6.svg");
}

.features__text {
  font-weight: 400;
  font-size: 23px;
  line-height: 1.12;
  color: #AC8A1A;
}
@media screen and (min-width: 393px) {
  .features__text {
    font-size: 26px;
  }
}
@media screen and (min-width: 768px) {
  .features__text {
    font-size: 38px;
  }
}
@media screen and (min-width: 1920px) {
  .features__text {
    font-size: 50px;
  }
}

.features__text::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  margin-top: 8px;
  background-color: #AC8A1A;
}

.courses {
  position: relative;
  margin: 0 auto;
  background-color: #F6F6F6;
}
@media screen and (min-width: 360px) and (max-width: 392px) {
  .courses {
    min-height: 800px;
    background-image: url("../images/main/courses/courses360-1x.jpg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }
}
@media screen and (min-width: 360px) and (max-width: 392px) and (min-device-pixel-ratio: 2), screen and (min-width: 360px) and (max-width: 392px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 360px) and (max-width: 392px) and (min-resolution: 192dpi), screen and (min-width: 360px) and (max-width: 392px) and (min-resolution: 2dppx) {
  .courses {
    background-image: url("../images/main/courses/courses360-2x.jpg");
  }
}
@media screen and (min-width: 393px) and (max-width: 767px) {
  .courses {
    min-height: 873px;
    background-image: url("../images/main/courses/courses393-1x.jpg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }
}
@media screen and (min-width: 393px) and (max-width: 767px) and (min-device-pixel-ratio: 2), screen and (min-width: 393px) and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 393px) and (max-width: 767px) and (min-resolution: 192dpi), screen and (min-width: 393px) and (max-width: 767px) and (min-resolution: 2dppx) {
  .courses {
    background-image: url("../images/main/courses/courses393-2x.jpg");
  }
}
@media screen and (min-width: 768px) {
  .courses {
    padding-top: 40px;
    padding-bottom: 40px;
    background-image: none;
  }
}
@media screen and (max-width: 767px) {
  .courses__picture {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .courses__picture {
    display: block;
    width: 640px;
    height: 944px;
    background-image: url("../images/main/courses/courses768-1x.jpg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .courses__picture {
    background-image: url("../images/main/courses/courses768-2x.jpg");
  }
}
@media screen and (min-width: 1280px) {
  .courses__picture {
    width: 824px;
    height: 692px;
    background-image: url("../images/main/courses/courses1268-1x.jpg");
  }
}
@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (min-resolution: 192dpi), screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  .courses__picture {
    background-image: url("../images/main/courses/courses1268-2x.jpg");
  }
}
@media screen and (min-width: 1366px) {
  .courses__picture {
    width: 932px;
    height: 680px;
    background-image: url("../images/main/courses/courses1366-1x.jpg");
  }
}
@media screen and (min-width: 1366px) and (min-device-pixel-ratio: 2), screen and (min-width: 1366px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1366px) and (min-resolution: 192dpi), screen and (min-width: 1366px) and (min-resolution: 2dppx) {
  .courses__picture {
    background-image: url("../images/main/courses/courses1366-2x.jpg");
  }
}
@media screen and (min-width: 1536px) {
  .courses__picture {
    width: 1032px;
    height: 746px;
    background-image: url("../images/main/courses/courses1536-1x.jpg");
  }
}
@media screen and (min-width: 1536px) and (min-device-pixel-ratio: 2), screen and (min-width: 1536px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1536px) and (min-resolution: 192dpi), screen and (min-width: 1536px) and (min-resolution: 2dppx) {
  .courses__picture {
    background-image: url("../images/main/courses/courses1536-2x.jpg");
  }
}
@media screen and (min-width: 1920px) {
  .courses__picture {
    width: 1332px;
    height: 940px;
    background-image: url("../images/main/courses/courses1920-1x.jpg");
  }
}
@media screen and (min-width: 1920px) and (min-device-pixel-ratio: 2), screen and (min-width: 1920px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1920px) and (min-resolution: 192dpi), screen and (min-width: 1920px) and (min-resolution: 2dppx) {
  .courses__picture {
    background-image: url("../images/main/courses/courses1920-2x.jpg");
  }
}

.courses__title--box {
  position: absolute;
  left: 110px;
  top: 124px;
  display: block;
  width: 250px;
  height: 90px;
  background-color: #EAECFB;
  border: 0.5px dashed #DFCDFC;
}
@media screen and (min-width: 393px) {
  .courses__title--box {
    top: 132px;
    width: 282px;
    height: 94px;
  }
}
@media screen and (min-width: 768px) {
  .courses__title--box {
    top: 132px;
    left: 38%;
    width: 478px;
    height: 142px;
  }
}
@media screen and (min-width: 1280px) {
  .courses__title--box {
    left: 59%;
    width: 524px;
    height: 144px;
  }
}
@media screen and (min-width: 1366px) {
  .courses__title--box {
    top: 142px;
    left: 64%;
    width: 492px;
    height: 146px;
  }
}
@media screen and (min-width: 1536px) {
  .courses__title--box {
    top: 170px;
    left: 63%;
    width: 568px;
    height: 152px;
  }
}
@media screen and (min-width: 1920px) {
  .courses__title--box {
    top: 194px;
    left: 65%;
    width: 672px;
    height: 188px;
  }
}

.courses__title {
  font-family: "Cormorant Infant", sans-serif;
  font-style: italic;
  font-weight: 700;
  font-size: 32px;
  line-height: 1.32;
  text-align: center;
  color: #C6A603;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
}
@media screen and (min-width: 393px) {
  .courses__title {
    font-size: 34px;
  }
}
@media screen and (min-width: 768px) {
  .courses__title {
    font-size: 53px;
  }
}
@media screen and (min-width: 1366px) {
  .courses__title {
    font-size: 54px;
  }
}
@media screen and (min-width: 1536px) {
  .courses__title {
    font-size: 56px;
  }
}
@media screen and (min-width: 1920px) {
  .courses__title {
    font-size: 68px;
  }
}

.courses__link {
  position: absolute;
  left: 136px;
  top: 323px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
  width: 200px;
  height: 36px;
  background: rgba(234, 236, 251, 0.5);
  border: 1px solid #AC8A1A;
  box-shadow: -1px -1px 18px rgba(0, 0, 0, 0.14), 1px 1px 18px rgba(0, 0, 0, 0.14);
  border-radius: 20px;
  cursor: pointer;
}
@media screen and (min-width: 393px) {
  .courses__link {
    left: 150px;
    top: 356px;
    width: 222px;
    height: 42px;
  }
}
@media screen and (min-width: 768px) {
  .courses__link {
    left: 45%;
    top: 462px;
    width: 290px;
    height: 56px;
    border-radius: 24px;
  }
}
@media screen and (min-width: 1280px) {
  .courses__link {
    left: 70%;
    top: 432px;
    width: 290px;
    height: 56px;
  }
}
@media screen and (min-width: 1366px) {
  .courses__link {
    left: 73%;
    top: 430px;
  }
}
@media screen and (min-width: 1536px) {
  .courses__link {
    left: 74%;
    top: 450px;
    height: 60px;
  }
}
@media screen and (min-width: 1920px) {
  .courses__link {
    left: 75%;
    top: 540px;
    width: 340px;
    height: 78px;
    border-radius: 35px;
  }
}

.courses__link--text {
  position: relative;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.33;
  text-align: center;
  color: #C6A603;
}
@media screen and (min-width: 393px) {
  .courses__link--text {
    font-size: 20px;
  }
}
@media screen and (min-width: 768px) {
  .courses__link--text {
    font-size: 27px;
  }
}
@media screen and (min-width: 1920px) {
  .courses__link--text {
    font-size: 32px;
  }
}

.courses__arrow--box {
  display: flex;
  width: auto;
  align-items: center;
  justify-content: space-between;
}

.courses__arrow {
  display: block;
  width: 9px;
  height: 20px;
  background-image: url("../images/svg/button__arrow.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
@media screen and (min-width: 393px) {
  .courses__arrow {
    width: 11px;
    height: 22px;
  }
}
@media screen and (min-width: 768px) {
  .courses__arrow {
    width: 15px;
    height: 24px;
  }
}
@media screen and (min-width: 1920px) {
  .courses__arrow {
    width: 18px;
    height: 30px;
  }
}

.connection {
  position: relative;
  width: 360px;
  margin: 0 auto;
  padding-top: 280px;
  padding-bottom: 102px;
}
@media screen and (min-width: 393px) {
  .connection {
    width: 393px;
    padding-top: 320px;
    padding-bottom: 110px;
  }
}
@media screen and (min-width: 768px) {
  .connection {
    width: 768px;
    padding-top: 416px;
  }
}
@media screen and (min-width: 1280px) {
  .connection {
    width: 1280px;
    height: 800px;
    padding-top: 0px;
    padding-bottom: 0px;
  }
}
@media screen and (min-width: 1366px) {
  .connection {
    width: 1366px;
    height: 768px;
  }
}
@media screen and (min-width: 1536px) {
  .connection {
    width: 1536px;
    height: 864px;
  }
}
@media screen and (min-width: 1920px) {
  .connection {
    width: 1920px;
    height: 1080px;
  }
}

.connection__title--box {
  position: absolute;
  left: 0px;
  top: 110px;
  display: block;
  width: 250px;
  height: 90px;
  background-color: #EAECFB;
  border: 0.5px dashed #DFCDFC;
}
@media screen and (min-width: 393px) {
  .connection__title--box {
    top: 114px;
    width: 282px;
    height: 94px;
  }
}
@media screen and (min-width: 768px) {
  .connection__title--box {
    width: 478px;
    height: 142px;
  }
}
@media screen and (min-width: 1280px) {
  .connection__title--box {
    width: 524px;
    height: 144px;
  }
}
@media screen and (min-width: 1366px) {
  .connection__title--box {
    width: 492px;
    height: 146px;
  }
}
@media screen and (min-width: 1536px) {
  .connection__title--box {
    width: 568px;
    height: 152px;
  }
}
@media screen and (min-width: 1920px) {
  .connection__title--box {
    width: 672px;
    height: 188px;
  }
}

.connection__title {
  font-family: "Cormorant Infant", sans-serif;
  font-style: italic;
  font-weight: 700;
  font-size: 32px;
  line-height: 1.32;
  text-align: center;
  color: #C6A603;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
}
@media screen and (min-width: 393px) {
  .connection__title {
    font-size: 34px;
  }
}
@media screen and (min-width: 768px) {
  .connection__title {
    font-size: 53px;
  }
}
@media screen and (min-width: 1366px) {
  .connection__title {
    font-size: 54px;
  }
}
@media screen and (min-width: 1536px) {
  .connection__title {
    font-size: 56px;
  }
}
@media screen and (min-width: 1920px) {
  .connection__title {
    font-size: 68px;
  }
}

.connection__text {
  text-align: center;
  margin-bottom: 60px;
  font-weight: 400;
  font-size: 23px;
  line-height: 1.12;
  color: #AC8A1A;
}
@media screen and (min-width: 393px) {
  .connection__text {
    font-size: 25px;
    margin-bottom: 90px;
  }
}
@media screen and (min-width: 768px) {
  .connection__text {
    font-size: 38px;
    margin-bottom: 90px;
  }
}
@media screen and (min-width: 1280px) {
  .connection__text {
    position: absolute;
    top: 50%;
    left: 14%;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1366px) {
  .connection__text {
    font-size: 39px;
  }
}
@media screen and (min-width: 1536px) {
  .connection__text {
    font-size: 40px;
  }
}
@media screen and (min-width: 1920px) {
  .connection__text {
    font-size: 51px;
    top: 46%;
    left: 16%;
  }
}

.connection__icon {
  display: block;
  margin: 0 auto;
  margin-bottom: 80px;
  width: 250px;
  height: 170px;
  background-image: url("../images/svg/phone.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
@media screen and (min-width: 393px) {
  .connection__icon {
    height: 185px;
    margin-bottom: 70px;
  }
}
@media screen and (min-width: 768px) {
  .connection__icon {
    margin-bottom: 82px;
  }
}
@media screen and (min-width: 1280px) {
  .connection__icon {
    position: absolute;
    top: 32%;
    left: 66%;
    width: 334px;
    height: 334px;
    background-image: url("../images/svg/mobile.svg");
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1920px) {
  .connection__icon {
    top: 33%;
    left: 67%;
    width: 390px;
    height: 390px;
  }
}

.connection__button {
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
  width: 165px;
  height: 40px;
  background: rgba(234, 236, 251, 0.5);
  border: 1px solid #AC8A1A;
  box-shadow: -1px -1px 18px rgba(0, 0, 0, 0.14), 1px 1px 18px rgba(0, 0, 0, 0.14);
  border-radius: 20px;
  cursor: pointer;
}
@media screen and (min-width: 393px) {
  .connection__button {
    width: 178px;
    height: 42px;
  }
}
@media screen and (min-width: 768px) {
  .connection__button {
    width: 240px;
    height: 56px;
    padding-left: 14px;
    padding-right: 14px;
    border-radius: 25px;
  }
}
@media screen and (min-width: 1280px) {
  .connection__button {
    position: absolute;
    left: 25%;
    top: 72%;
  }
}
@media screen and (min-width: 1536px) {
  .connection__button {
    left: 24%;
  }
}
@media screen and (min-width: 1920px) {
  .connection__button {
    left: 27%;
    top: 68%;
    width: 288px;
    height: 66px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.connection__button--text {
  font-style: normal;
  font-weight: 700;
  font-size: 19px;
  line-height: 1.33;
  text-align: center;
  color: #C6A603;
}
@media screen and (min-width: 393px) {
  .connection__button--text {
    font-size: 21px;
  }
}
@media screen and (min-width: 768px) {
  .connection__button--text {
    font-size: 28px;
  }
}
@media screen and (min-width: 1920px) {
  .connection__button--text {
    font-size: 32px;
  }
}

.connection__arrow--box {
  display: flex;
  width: auto;
  align-items: center;
  justify-content: space-between;
}

.connection__arrow {
  display: block;
  width: 9px;
  height: 20px;
  background-image: url("../images/svg/button__arrow.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
@media screen and (min-width: 393px) {
  .connection__arrow {
    width: 11px;
    height: 22px;
  }
}
@media screen and (min-width: 768px) {
  .connection__arrow {
    width: 15px;
    height: 24px;
  }
}
@media screen and (min-width: 1920px) {
  .connection__arrow {
    width: 18px;
    height: 30px;
  }
}

.blog {
  position: relative;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
@media screen and (min-width: 360px) {
  .blog {
    min-height: 800px;
    background-image: url("../images/main/blog/blog360-1x.webp"), url("../images/main/blog/blog360-1x.jpg");
  }
}
@media screen and (min-width: 360px) and (min-device-pixel-ratio: 2), screen and (min-width: 360px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 360px) and (min-resolution: 192dpi), screen and (min-width: 360px) and (min-resolution: 2dppx) {
  .blog {
    background-image: url("../images/main/blog/blog360-2x.webp"), url("../images/main/blog/blog360-2x.jpg");
  }
}
@media screen and (min-width: 393px) {
  .blog {
    min-height: 873px;
    background-image: url("../images/main/blog/blog393-1x.webp"), url("../images/main/blog/blog393-1x.jpg");
  }
}
@media screen and (min-width: 393px) and (min-device-pixel-ratio: 2), screen and (min-width: 393px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 393px) and (min-resolution: 192dpi), screen and (min-width: 393px) and (min-resolution: 2dppx) {
  .blog {
    background-image: url("../images/main/blog/blog393-2x.webp"), url("../images/main/blog/blog393-2x.jpg");
  }
}
@media screen and (min-width: 768px) {
  .blog {
    min-height: 1024px;
    background-image: url("../images/main/blog/blog768-1x.webp"), url("../images/main/blog/blog768-1x.jpg");
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .blog {
    background-image: url("../images/main/blog/blog768-2x.webp"), url("../images/main/blog/blog768-2x.jpg");
  }
}

.blog__title--box {
  position: absolute;
  top: 54%;
  left: 0%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 90px;
  background-color: #EAECFB;
  border: 0.5px dashed #DFCDFC;
}
@media screen and (min-width: 393px) {
  .blog__title--box {
    height: 94px;
  }
}
@media screen and (min-width: 768px) {
  .blog__title--box {
    height: 142px;
  }
}

.blog__title {
  font-family: "Cormorant Infant", sans-serif;
  font-style: italic;
  font-weight: 700;
  font-size: 34px;
  line-height: 1.32;
  text-align: center;
  color: #C6A603;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
}
@media screen and (min-width: 393px) {
  .blog__title {
    font-size: 36px;
  }
}
@media screen and (min-width: 768px) {
  .blog__title {
    font-size: 54px;
  }
}

.blog__link {
  position: absolute;
  left: 22%;
  top: 75%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
  width: 200px;
  height: 36px;
  background: rgba(234, 236, 251, 0.82);
  border: 1px solid #AC8A1A;
  box-shadow: -1px -1px 18px rgba(0, 0, 0, 0.14), 1px 1px 18px rgba(0, 0, 0, 0.14);
  border-radius: 20px;
  cursor: pointer;
}
@media screen and (min-width: 393px) {
  .blog__link {
    width: 228px;
    height: 42px;
  }
}
@media screen and (min-width: 768px) {
  .blog__link {
    left: 30%;
    top: 78%;
    width: 310px;
    height: 56px;
    padding-left: 14px;
    padding-right: 14px;
    border-radius: 25px;
  }
}

.blog__link--text {
  position: relative;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.33;
  text-align: center;
  color: #C6A603;
}
@media screen and (min-width: 393px) {
  .blog__link--text {
    font-size: 20px;
  }
}
@media screen and (min-width: 768px) {
  .blog__link--text {
    font-size: 28px;
  }
}

.blog__arrow--box {
  display: flex;
  width: auto;
  align-items: center;
  justify-content: space-between;
}

.blog__arrow {
  display: block;
  width: 9px;
  height: 20px;
  background-image: url("../images/svg/button__arrow.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
@media screen and (min-width: 393px) {
  .blog__arrow {
    width: 11px;
    height: 22px;
  }
}
@media screen and (min-width: 768px) {
  .blog__arrow {
    width: 15px;
    height: 24px;
  }
}
@media screen and (min-width: 1920px) {
  .blog__arrow {
    width: 18px;
    height: 30px;
  }
}/*# sourceMappingURL=main.css.map */