<section class="blog">
    <div class="container">
        <div class="blog__inner">
            <div class="blog__box">
                <h2 class="blog__title">Авторский блог</h2>
                <a class="blog__link">
                    <div class="blog__link--inner">
                        <p class="blog__link--text">Читать все</p>
                        <span class="blog__link--icon"></span>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>