<section class="blog">
    <div class="container">
        <span class="blog__title--box">
            <h2 class="blog__title">Авторський блог</h2>
        </span>
        <a class="blog__link">
            <p class="blog__link--text">Переглянути все</p>
            <div class="blog__arrow--box">
                <span class="blog__arrow"></span>
                <span class="blog__arrow"></span>
                <span class="blog__arrow"></span>
            </div>
        </a>
    </div>
</section>