<section class="connection">
    <div class="container">
        <div class="connection__inner">
            <div class="connection__box">
                <h2 class="connection__title">Не знаєте з чого почати?</h2>
                <p class="connection__text">Запишіться на безкоштовну консультацію</p>
                <button class="connection__button">Записатися</button>
            </div>
            <picture class="connection__picture">
                <source>
                <source>
                <source>
                <source>
                <source>
                <source>
                <source>
                <source>
                <source>
                <source>
                <source>
                <source>
                <source>
                <source>
                <source>
                <source>
                <img>
            </picture>
        </div>
    </div>
</section>