<section class="connection">
    <div class="container">
        <span class="connection__title--box">
            <h2 class="connection__title">Не знаєте з чого розпочати?</h2>
        </span>
        <p class="connection__text">Запишіться <br> на безкоштовну консультацію</p>
        <span class="connection__icon"></span>
        <button class="connection__button" type="button">
            <p class="connection__button--text">Записатися</p>
            <div class="connection__arrow--box">
                <span class="connection__arrow"></span>
                <span class="connection__arrow"></span>
                <span class="connection__arrow"></span>
            </div>
        </button>
    </div>
</section>