<section class="courses">
    <div class="container">
        <div class="courses__inner">
            <picture class="courses__picture">
                <source>
                <source>
                <source>
                <source>
                <source>
                <source>
                <source>
                <source>
                <source>
                <source>
                <source>
                <source>
                <source>
                <source>
                <source>
                <source>
                <img>
            </picture>
            <div class="courses__box">
                <h2 class="courses__title">Видео курсы по самооздоровлению</h2>
                <a class="courses__link">
                    <p class="courses__link--text">Смотреть все</p>
                    <span class="courses__link--icon"></span>
                </a>
            </div>
        </div>
    </div>
</section>