<section class="courses">
    <div class="container">
        <div class="courses__picture"></div>
        
        <span class="courses__title--box">
            <h2 class="courses__title">Відео курси <br> з самооздоровлення</h2>
        </span>
        <a class="courses__link">
            <p class="courses__link--text">Переглянути всі</p>
            <div class="button__arrow--box">
                <span class="button__arrow"></span>
                <span class="button__arrow"></span>
                <span class="button__arrow"></span>
            </div>
        </a>
    </div>
</section>