<section class="courses">
    <div class="courses__inner">
        <div class="container">
            <div class="courses__picture">
                <span class="courses__title--box">
                    <h2 class="courses__title">Відео курси <br> з самооздоровлення</h2>
                </span>
                <a class="courses__link">
                    <p class="courses__link--text">Переглянути всі</p>
                    <div class="courses__arrow--box">
                        <span class="courses__arrow"></span>
                        <span class="courses__arrow"></span>
                        <span class="courses__arrow"></span>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>