<section class="features">
    <div class="container">
        <div class="features__inner">
            <ul class="features__list">
                <li class="features__item">
                    <span class="features__icon--first"></span>
                    <p class="features__text">Доступне самооздоровлення</p>
                </li>
                <li class="features__item">
                    <span class="features__icon--second"></span>
                    <p class="features__text">Ефективна методика</p>
                </li>
                <li class="features__item">
                    <span class="features__icon--third"></span>
                    <p class="features__text">Персональні заняття</p>
                </li>                
            </ul>
        </div>
    </div>
</section>