<div class="container">
    <div class="footer__inner">
        <div class="form__box">
            <p class="form__title">Подписаться на рассылку</p>
            <form class="form">
                <label>
                    <input class="form__input">
                </label>
                <button class="form__button"></button>
            </form>
        </div>
        <div class="documentations">
            <a class="documentations__link">Контакты</a>
            <a class="documentations__link">Правила и Условия</a>
            <a class="documentations__link">Политика конфиденциальности</a>
        </div>
        <div class="socials">
            <a class="socials__youtube"></a>
            <a class="socials__facebook"></a>
            <a class="socials__instagram"></a>
        </div>
        <p class="copyrights">2022, Все права защищены</p>
    </div>
</div>