<footer class="footer">
    <div class="footer__inner">
        <div class="container">
            <p class="footer__title">Підписатися на розсилку</p>
            <form class="footer__form">
                <label>
                    <input class="footer__form--input" type="email" name="email" required
                        placeholder="Вкажіть свій email...">
                </label>
                <button class="footer__form--button" type="submit"></button>
            </form>
            <ul class="footer__documentations--list">
                <li>
                    <a class="footer__documentations--link">Контакти</a>
                </li>
                <li>
                    <a class="footer__documentations--link">Правила і Умови</a>
                </li>
                <li>
                    <a class="footer__documentations--link">Політика конфіденційності</a>
                </li>
            </ul>
            <ul class="footer__socials--list">
                <li>
                    <a class="footer__socials--youtube"></a>
                </li>
                <li>
                    <a class="footer__socials--facebook"></a>
                </li>
                <li>
                    <a class="footer__socials--instagram"></a>
                </li>
            </ul>
            <p class="footer__copyrights">2023, Всі права захищені</p>
            <a class="footer__logo"></a>
        </div>
    </div>
</footer>