<footer class="footer">
    <div class="container">
        <div class="fotter__inner">
            <p class="footer__form--title">Підписатися на розсилку</p>
            <form class="footer__form">
                <label>
                    <input class="footer__form--input" type="email" name="email" autofocus required
                        placeholder="Вкажіть свій email...">
                </label>
                <button class="footer__form--button" type="submit"></button>
            </form>
            <div class="footer__documentations">
                <a class="footer__documentations--link">Контакти</a>
                <a class="footer__documentations--link">Правила і Умови</a>
                <a class="footer__documentations--link">Політика конфіденційності</a>
            </div>
            <div class="footer__socials">
                <a class="footer__socials--youtube"></a>
                <a class="footer__socials--facebook"></a>
                <a class="footer__socials--instagram"></a>
            </div>
            <p class="footer__copyrights">2023, Всі права захищені</p>
            <a class="footer__logo"></a>
        </div>
    </div>
</footer>