<header class="header">
    <div class="container">
        <div class="header__standart">
            <a class="logo">My Clever Body</a>
            <nav class="nav-standart">
                <ul class="nav__list-standart">
                    <li class="nav__item-standart">
                        <a class="nav__link-standart">Головна</a>
                    </li>
                    <li class="nav__item-standart">
                        <a class="nav__link-standart">Про себе</a>
                    </li>
                    <li class="nav__item-standart">
                        <a class="nav__link-standart">Курси</a>
                    </li>
                    <li class="nav__item-standart">
                        <a class="nav__link-standart">Блог</a>
                    </li>
                    <li class="nav__item-standart">
                        <a class="nav__link-standart">Відео</a>
                    </li>
                    <li class="nav__item-standart">
                        <a class="nav__link-standart">Магазин</a>
                    </li>
                    <li class="nav__item-standart">
                        <a class="nav__link-standart">Вхід/Реєстрація</a>
                    </li>
                </ul>
            </nav>
        </div>

        <div class="header__mobile">
            <a class="logo">My Clever Body</a>
            <button class="button__burger" type="button" aria-label="Opening the mobile menu"></button>
        </div>
            
        <div class="header__mobile-menu"> 
            <button class="button__burger-close" aria-label="Closening the mobile menu"></button>
            <nav class="nav-mobile">
                <ul class="nav__list-mobile">
                    <li class="nav__item-mobile">
                        <a class="nav__link-mobile nav__link-active">Головна</a>
                    </li>
                    <li class="nav__item-mobile">
                        <a class="nav__link-mobile">Про себе</a>
                    </li>
                    <li class="nav__item-mobile">
                        <a class="nav__link-mobile">Курси</a>
                    </li>
                    <li class="nav__item-mobile">
                        <a class="nav__link-mobile">Блог</a>
                    </li>
                    <li class="nav__item-mobile">
                        <a class="nav__link-mobile">Відео</a>
                    </li>
                    <li class="nav__item-mobile">
                        <a class="nav__link-mobile">Магазин</a>
                    </li>
                    <li class="nav__item-mobile">
                        <a class="nav__link-mobile">Вхід/Реєстрація</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>