<header class="header">
    <div class="container">
        <div class="header__inner">
            <div class="header__standart">
                <a class="logo__standart"></a>
                <nav class="nav-standart">
                    <ul class="nav__list-standart">
                        <li>
                            <a class="nav__link-standart">Головна</a>
                        </li>
                        <li>
                            <a class="nav__link-standart">Про себе</a>
                        </li>
                        <li>
                            <a class="nav__link-standart">Курси</a>
                        </li>
                        <li>
                            <a class="nav__link-standart">Блог</a>
                        </li>
                        <li>
                            <a class="nav__link-standart">Відео</a>
                        </li>
                        <li>
                            <a class="nav__link-standart">Магазин</a>
                        </li>
                        <li>
                            <a class="nav__link-standart">Вхід/Реєстрація</a>
                        </li>
                    </ul>
                </nav>
            </div>

            <div class="header__mobile">
                <a class="logo__mobile"></a>
                <button class="button__burger" type="button" aria-label="Opening the mobile menu"></button>
            </div>
            
            <div class="header__mobile-menu">
                <div class="button__close-thumb">
                    <button class="button__close" aria-label="Closening the mobile menu"></button>
                </div> 
                <nav class="nav-mobile">
                    <ul class="nav__list-mobile">
                        <li>
                            <a class="nav__link-mobile nav__link-active">Головна</a>
                        </li>
                        <li>
                            <a class="nav__link-mobile">Про себе</a>
                        </li>
                        <li>
                            <a class="nav__link-mobile">Курси</a>
                        </li>
                        <li>
                            <a class="nav__link-mobile">Блог</a>
                        </li>
                        <li>
                            <a class="nav__link-mobile">Відео</a>
                        </li>
                        <li>
                            <a class="nav__link-mobile">Магазин</a>
                        </li>
                        <li>
                            <a class="nav__link-mobile">Вхід/Реєстрація</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>