<header class="header">
    <div class="container">
        <div class="header__inner--burger">
            <a class="logo">My Clever Body</a>
            <button class="button__burger" aria-label="Открытие меню навигации по сайту"></button>
        </div>
        
        <div class="header__inner--burger-open"> 
            <a class="logo">My Clever Body</a>
            <button class="button__burger-open" aria-label="Закрытие меню навигации по сайту"></button>
            <nav class="nav">
                <ul class="nav__list">
                    <li class="nav__item">
                        <a class="nav__link">Главная</a>
                    </li>
                    <li class="nav__item">
                        <a class="nav__link">О себе</a>
                    </li>
                    <li class="nav__item">
                        <a class="nav__link">Курсы</a>
                    </li>
                    <li class="nav__item">
                        <a class="nav__link">Блог</a>
                    </li>
                    <li class="nav__item">
                        <a class="nav__link">Видео</a>
                    </li>
                    <li class="nav__item">
                        <a class="nav__link">Магазин</a>
                    </li>
                    <li class="nav__item">
                        <a class="nav__link">Вход/Регистрация</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>