<section class="videos">
    <div class="container">
        <span class="videos__image--top"></span>
        <span class="videos__title--box">
            <h2 class="videos__title">Пізнавальні відео</h2>
        </span>
        <div class="videos__slider">
            <div class="videos__slider--first"></div>
            <div class="videos__slider--second"></div>
            <div class="videos__slider--third"></div>
            <div class="videos__slider--left"></div>
            <div class="videos__slider--right"></div>
        </div>
        
        <a class="videos__link">
            <p class="videos__link--text">Переглянути всі</p>
            <div class="videos__arrows"></div>
        </a>
        <span class="videos__image--bottom"></span>
    </div>
</section>