.blog {
    background-color: $background;

    @media screen and (min-width: 360px) {
        height: 800px;
    }
 
    @media screen and (min-width: 393px) {
        height: 873px;
    }

    @media screen and (min-width: 768px) {
        height: 1024px;
    }

    @media screen and (min-width: 1280px) {
        height: 800px;
    }
    
    @media screen and (min-width: 1366px) {
        height: 768px;
    }

    @media screen and (min-width: 1536px) {
        height: 864px;
    }

    @media screen and (min-width: 1920px) {
        height: 1080px;
    } 
} 
  
.blog__inner {
    position: relative;
    margin: 0 auto;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    
    @media screen and (min-width: 360px) {
        width: 360px;
        height: 800px;
        background-image: url("../images/main/blog/blog360-1x.webp"), url("../images/main/blog/blog360-1x.jpg");
            
        @media screen and (min-device-pixel-ratio: 2),
            screen and (min-resolution: 192dpi),
            screen and (min-resolution: 2dppx) {
            background-image: url("../images/main/blog/blog360-2x.webp"), url("../images/main/blog/blog360-2x.jpg");
        }
    }

    @media screen and (min-width: 393px) {
        width: 393px;
        height: 873px;
        background-image: url("../images/main/blog/blog393-1x.webp"), url("../images/main/blog/blog393-1x.jpg");
                
        @media screen and (min-device-pixel-ratio: 2),
            screen and (min-resolution: 192dpi),
            screen and (min-resolution: 2dppx) {
            background-image: url("../images/main/blog/blog393-2x.webp"), url("../images/main/blog/blog393-2x.jpg");
        }
    }
    
    @media screen and (min-width: 768px) {
        width: 768px;
        height: 1024px;
        background-image: url("../images/main/blog/blog768-1x.webp"), url("../images/main/blog/blog768-1x.jpg");
    
        @media screen and (min-device-pixel-ratio: 2),
            screen and (min-resolution: 192dpi),
            screen and (min-resolution: 2dppx) {
            background-image: url("../images/main/blog/blog768-2x.webp"), url("../images/main/blog/blog768-2x.jpg");
        }
    }

    @media screen and (min-width: 1280px) {
        width: 1280px;
        height: 800px;
        background-image: url("../images/main/blog/blog1280-1x.webp"), url("../images/main/blog/blog1280-1x.jpg");
    
        @media screen and (min-device-pixel-ratio: 2),
            screen and (min-resolution: 192dpi),
            screen and (min-resolution: 2dppx) {
            background-image: url("../images/main/blog/blog1280-2x.webp"), url("../images/main/blog/blog1280-2x.jpg");
        }
    }

    @media screen and (min-width: 1366px) {
        width: 1366px;
        height: 768px;
        background-image: url("../images/main/blog/blog1366-1x.webp"), url("../images/main/blog/blog1366-1x.jpg");
    
        @media screen and (min-device-pixel-ratio: 2),
            screen and (min-resolution: 192dpi),
            screen and (min-resolution: 2dppx) {
            background-image: url("../images/main/blog/blog1366-2x.webp"), url("../images/main/blog/blog1366-2x.jpg");
        }
    }

    @media screen and (min-width: 1536px) {
        width: 1536px;
        height: 864px;
        background-image: url("../images/main/blog/blog1536-1x.webp"), url("../images/main/blog/blog1536-1x.jpg");
    
        @media screen and (min-device-pixel-ratio: 2),
            screen and (min-resolution: 192dpi),
            screen and (min-resolution: 2dppx) {
            background-image: url("../images/main/blog/blog1536-2x.webp"), url("../images/main/blog/blog1536-2x.jpg");
        }
    }

    @media screen and (min-width: 1920px) {
        width: 1920px;
        height: 1080px;
        background-image: url("../images/main/blog/blog1920-1x.webp"), url("../images/main/blog/blog1920-1x.jpg");
    
        @media screen and (min-device-pixel-ratio: 2),
            screen and (min-resolution: 192dpi),
            screen and (min-resolution: 2dppx) {
            background-image: url("../images/main/blog/blog1920-2x.webp"), url("../images/main/blog/blog1920-2x.jpg");
        }
    }
}

.blog__title--box {
    position: absolute;
    top: 54%;
    left: 0%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 90px;
    background-color: $accent-style;
    border: 0.5px dashed #DFCDFC;

    @media screen and (min-width: 393px) {
        height: 94px;
    }

    @media screen and (min-width: 768px) {
        height: 142px;
    }

    @media screen and (min-width: 1280px) {
        top: 18%;
        left: 59%;
        width: 524px;
        height: 144px;
    }

    @media screen and (min-width: 1366px) {
        top: 16%;
        left: 64%;
        width: 492px;
        height: 146px;
    }

    @media screen and (min-width: 1536px) {
        top: 16%;
        left: 63%;
        width: 568px;
        height: 152px;
    }

    @media screen and (min-width: 1920px) {
        left: 65%;
        width: 672px;
        height: 188px;
    }
} 

.blog__title {
    font-family: $text-title;
    font-style: italic;
    font-weight: 700;
    font-size: 34px;
    line-height: 1.32;
    text-align: center;
    color: $accent-assist;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);

    @media screen and (min-width: 393px) {
        font-size: 36px;
    }

    @media screen and (min-width: 768px) {
        font-size: 54px;
    }

    @media screen and (min-width: 1366px) {
        font-size: 56px;
    }

    @media screen and (min-width: 1536px) {
        font-size: 58px;
    }

    @media screen and (min-width: 1920px) {
        font-size: 70px;
    }
} 
 
.blog__link {
    position: absolute;
    top: 75%;
    left: 22%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
    width: 200px;
    height: 36px;
    background: rgba(234, 236, 251, 0.82);
    border: 1px solid #AC8A1A;
    box-shadow: -1px -1px 18px rgba(0, 0, 0, 0.14), 1px 1px 18px rgba(0, 0, 0, 0.14);
    border-radius: 20px;
    cursor: pointer;

    @media screen and (min-width: 393px) {
        width: 228px;
        height: 42px;
    }

    @media screen and (min-width: 768px) {
        top: 78%;
        left: 30%;
        width: 310px;
        height: 56px;
        padding-left: 14px;
        padding-right: 14px;
        border-radius: 25px;
    }

    @media screen and (min-width: 1280px) {
        top: 50%;
        left: 67%;
        width: 312px;
        height: 60px;
    }

    @media screen and (min-width: 1366px) {
        left: 70%;
    }

    @media screen and (min-width: 1536px) {
        left: 71%;
    }

    @media screen and (min-width: 1920px) {
        left: 73%;
        width: 370px;
        height: 78px;
        padding-left: 20px;
        padding-right: 20px;
        border-radius: 35px;
    }
}  
  
.blog__link--text {
    position: relative;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.33;
    text-align: center;
    color: $accent-assist;

    @media screen and (min-width: 393px) {
        font-size: 20px;
    }

    @media screen and (min-width: 768px) {
        font-size: 28px;
    }

    @media screen and (min-width: 1920px) {
        font-size: 32px;
    }
}

.blog__arrow--box {
    display: flex;
    width: auto;
    align-items: center;
    justify-content: space-between;
}

.blog__arrow {
    display: block;
    width: 9px;
    height: 20px;
    background-image: url("../images/svg/button__arrow.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

    @media screen and (min-width: 393px) {
        width: 11px;
        height: 22px;
    }

    @media screen and (min-width: 768px) {
        width: 15px;
        height: 24px;
    }
    
    @media screen and (min-width: 1920px) {
        width: 18px;
        height: 30px;
    }
}  