.courses {
    background-color: $background;
        
    @media screen and (min-width: 360px) {
        height: 800px;
    }
 
    @media screen and (min-width: 393px) {
        height: 873px;
    }

    @media screen and (min-width: 768px) {
        height: 1024px;
    }

    @media screen and (min-width: 1280px) {
        height: 800px;
    }
    
    @media screen and (min-width: 1366px) {
        height: 768px;
    }

    @media screen and (min-width: 1536px) {
        height: 864px;
    }

    @media screen and (min-width: 1920px) {
        height: 1080px;
    }
}
 
.courses__inner {
    position: relative;
    margin: 0 auto;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    
    @media screen and (min-width: 360px) {
        width: 360px;
        height: 800px;
        background-image: url("../images/main/courses/courses360-1x.jpg");
        
        @media screen and (min-device-pixel-ratio: 2),
            screen and (min-resolution: 192dpi),
            screen and (min-resolution: 2dppx) {
            background-image: url("../images/main/courses/courses360-2x.jpg");
        }
    }
    
    @media screen and (min-width: 393px) {
        width: 393px;
        height: 873px;
        background-image: url("../images/main/courses/courses393-1x.jpg");
        
        @media screen and (min-device-pixel-ratio: 2),
            screen and (min-resolution: 192dpi),
            screen and (min-resolution: 2dppx) {
            background-image: url("../images/main/courses/courses393-2x.jpg");
        }
    }
    
    @media screen and (min-width: 768px) {
        width: 768px;
        height: 1024px;
        padding-top: 40px;
        padding-bottom: 40px;
        background-image: none;
    }
     
    @media screen and (min-width: 1280px) {
        width: 1280px;
        height: 800px;
        padding-top: 52px;
        padding-bottom: 52px;
    }
    
    @media screen and (min-width: 1366px) {
        width: 1366px;
        height: 768px;
        padding-top: 42px;
        padding-bottom: 42px;
    }
     
    @media screen and (min-width: 1536px) {
        width: 1536px;
        height: 864px;
        padding-top: 57px;
        padding-bottom: 57px;
    }
     
    @media screen and (min-width: 1920px) {
        width: 1920px;
        height: 1080px;
        padding-top: 68px;
        padding-bottom: 68px;
    }
}  
   
.courses__picture {
    @media screen and (min-width: 768px) {
        display: block;
        width: 640px;
        height: 944px;
        background-image: url("../images/main/courses/courses768-1x.jpg");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
               
        @media screen and (min-device-pixel-ratio: 2),
            screen and (min-resolution: 192dpi),
            screen and (min-resolution: 2dppx) {
            background-image: url("../images/main/courses/courses768-2x.jpg");
        }
    }

    @media screen and (min-width: 1280px) {
        width: 824px;
        height: 692px;
        background-image: url("../images/main/courses/courses1268-1x.jpg");

        @media screen and (min-device-pixel-ratio: 2),
            screen and (min-resolution: 192dpi),
            screen and (min-resolution: 2dppx) {
            background-image: url("../images/main/courses/courses1268-2x.jpg");
        }
    }

    @media screen and (min-width: 1366px) {
        width: 932px;
        height: 680px;
        background-image: url("../images/main/courses/courses1366-1x.jpg");
    
        @media screen and (min-device-pixel-ratio: 2),
            screen and (min-resolution: 192dpi),
            screen and (min-resolution: 2dppx) {
            background-image: url("../images/main/courses/courses1366-2x.jpg");
        }
    }

    @media screen and (min-width: 1536px) {
        width: 1032px;
        height: 746px;
        background-image: url("../images/main/courses/courses1536-1x.jpg");

        @media screen and (min-device-pixel-ratio: 2),
            screen and (min-resolution: 192dpi),
            screen and (min-resolution: 2dppx) {
            background-image: url("../images/main/courses/courses1536-2x.jpg");
        }   
    }

    @media screen and (min-width: 1920px) {
        width: 1332px;
        height: 940px;
        background-image: url("../images/main/courses/courses1920-1x.jpg");
    
        @media screen and (min-device-pixel-ratio: 2),
            screen and (min-resolution: 192dpi),
            screen and (min-resolution: 2dppx) {
            background-image: url("../images/main/courses/courses1920-2x.jpg");
        }
    }
}

.courses__title--box {
    position: absolute;
    top: 14%;
    left: 31%;
    display: block;
    width: 250px;
    height: 90px;
    background-color: $accent-style;
    border: 0.5px dashed #DFCDFC;
    
    @media screen and (min-width: 393px) {
        width: 272px;
        height: 94px;
    }
 
    @media screen and (min-width: 768px) {
        top: 14%;
        left: 38%;
        width: 478px;
        height: 142px;
    }
 
    @media screen and (min-width: 1280px) {
        top: 20%;
        left: 59%;
        width: 524px;
        height: 144px
    }
 
    @media screen and (min-width: 1366px) {
        left: 64%;
        width: 492px;
        height: 146px
    }

    @media screen and (min-width: 1536px) {
        top: 170px;
        left: 63%;
        width: 568px;
        height: 152px;
    }

    @media screen and (min-width: 1920px) {
        top: 194px;
        left: 65%;
        width: 672px;
        height: 188px;
    }
} 

.courses__title {
    font-family: $text-title;
    font-style: italic;
    font-weight: 700;
    font-size: 32px;
    line-height: 1.32;
    text-align: center;
    color: $accent-assist;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);

    @media screen and (min-width: 393px) {
        font-size: 34px;
    }

    @media screen and (min-width: 768px) {
        font-size: 53px;
    }

    @media screen and (min-width: 1366px) {
        font-size: 54px;
    }

    @media screen and (min-width: 1536px) {
        font-size: 56px;
    }

    @media screen and (min-width: 1920px) {
        font-size: 68px;
    }
}

.courses__link {
    position: absolute;
    left: 136px;
    top: 323px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
    width: 200px;
    height: 36px;
    background: $accent-button;
    border: 1px solid #AC8A1A;
    box-shadow: -1px -1px 18px rgba(0, 0, 0, 0.14), 1px 1px 18px rgba(0, 0, 0, 0.14);
    border-radius: 20px;
    cursor: pointer;

    @media screen and (min-width: 393px) {
        left: 150px;
        top: 356px;
        width: 222px;
        height: 42px;
    }

    @media screen and (min-width: 768px) {
        left: 45%;
        top: 462px;
        width: 290px;
        height: 56px;
        border-radius: 24px;
    }

    @media screen and (min-width: 1280px) {
        left: 70%;
        top: 432px;
        width: 290px;
        height: 56px;
    }

    @media screen and (min-width: 1366px) {
        left: 73%;
        top: 430px;
    }

    @media screen and (min-width: 1536px) {
        left: 74%;
        top: 450px;
        height: 60px;
    } 

    @media screen and (min-width: 1920px) {
        left: 75%;
        top: 540px;
        width: 340px;
        height: 78px;
        border-radius: 35px;
    }
} 

.courses__link--text {
    position: relative;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.33;
    text-align: center;
    color: $accent-assist;

    @media screen and (min-width: 393px) {
        font-size: 20px;
    }

    @media screen and (min-width: 768px) {
        font-size: 27px;
    }

    @media screen and (min-width: 1920px) {
        font-size: 32px;
    }
}
 
.courses__arrow--box {
    display: flex;
    width: auto;
    align-items: center;
    justify-content: space-between;
}

.courses__arrow {
    display: block;
    width: 9px;
    height: 20px;
    background-image: url("../images/svg/button__arrow.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

    @media screen and (min-width: 393px) {
        width: 11px;
        height: 22px;
    }

    @media screen and (min-width: 768px) {
        width: 15px;
        height: 24px;
    }

    @media screen and (min-width: 1920px) {
        width: 18px;
        height: 30px;
    }
}



