.features {
    background-image: url("../images/main/features/features_mandala.png");
    background-size: cover;

    @media screen and (min-width: 360px) and (max-width: 392px) {
        height: 800px;
    }

    @media screen and (min-width: 393px) {
        width: 100%;
        min-height: 873px;
    }

    @media screen and (min-width: 768px) {
        min-height: 1024px;
    }

    @media screen and (min-width: 1280px) {
        min-height: 800px;
    }

    @media screen and (min-width: 1366px) {
        min-height: 768px;
    }

    @media screen and (min-width: 1536px) {
        min-height: 864px;
    }

    @media screen and (min-width: 1920px) {
        min-height: 1080px;
    }
}

.features__inner {
    width: 100%;
    height: 800px;
    padding-top: 110px;
    padding-bottom: 110px;
    
    @media screen and (min-width: 393px) {
        height: 873px;
        padding-top: 130px;
        padding-bottom: 130px;
    }

    @media screen and (min-width: 768px) {
        height: 1024px;
        padding-top: 160px;
        padding-bottom: 160px;
    }

    @media screen and (min-width: 1280px) {
        height: 800px;
        padding-top: 120px;
        padding-bottom: 120px;
    }

    @media screen and (min-width: 1366px) {
        height: 768px;
        padding-top: 110px;
        padding-bottom: 110px;
    }

    @media screen and (min-width: 1536px) {
        height: 864px;
        padding-top: 140px;
        padding-bottom: 140px;
    }

    @media screen and (min-width: 1920px) {
        height: 1080px;
        padding-top: 160px;
        padding-bottom: 160px;
    }
}

.features__list {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    @media screen and (min-width: 768px) {
        width: 592px;
        margin: 0 auto;
    }

    @media screen and (min-width: 1920px) {
        width: 770px;
        margin: 0 auto;
    }
}

.features__item {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
}

.features__icon {
    display: block;
    width: 100px;
    height: 80px;
    margin-right: 20px;
    border: 1px solid $accent;
    border-radius: 5px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

    @media screen and (min-width: 393px) {
        width: 108px;
        height: 86px;
    }

    @media screen and (min-width: 768px) {
        width: 182px;
        height: 132px;
        margin-right: 70px;
    }

    @media screen and (min-width: 1920px) {
        width: 220px;
        height: 160px;
        margin-right: 100px;
    }
}

.icon-first {
    background-image: url("../images/svg/yoga_2.svg");
}

.icon-second {
    background-image: url("../images/svg/yoga_3.svg");
}

.icon-third {
    background-image: url("../images/svg/yoga_6.svg");
}

.features__text {
    font-weight: 400;
    font-size: 23px;
    line-height: 1.12;
    color: $accent;

    @media screen and (min-width: 393px) {
        font-size: 26px;
    }

    @media screen and (min-width: 768px) {
        font-size: 38px;
    }

    @media screen and (min-width: 1920px) {
        font-size: 50px;
    }
}

.features__text::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    margin-top: 8px;
    background-color: $accent;
}
        
