.header__inner {
    position: relative;
    width: 100%;
}

.header__standart {
    display: none;
    // @media screen and (max-width: 1279px){
    //     display: none;
    // }

    @media screen and (min-width: 1280px) {
        position: absolute;
        display: flex;
        align-items: center;
        padding-top: 22px;
        padding-left: 24px;
        justify-content: space-between;
        width: 100%;
        min-height: 175px;
    }
}

.logo__standart {
    display: block;
    width: 120px;
    height: 160px;
    background-image: url("../images/svg/logo__standart.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;

    @media screen and (min-width: 1536px) {
        width: 130px;
        height: 170px;
    }

    @media screen and (min-width: 1920px) {
        width: 152px;
        height: 200px;
    }
}

.nav-standart {
    padding-bottom: 80px;
}

.nav__list-standart {
    display: flex;
    width: 917px;
    justify-content: space-between;

    @media screen and (min-width: 1366px) {
        width: 984px;
    }

    @media screen and (min-width: 1536px) {
        width: 1116px;
    }

    @media screen and (min-width: 1920px) {
        width: 1320px;
    }
}

.nav__link-standart {
    font-weight: 400;
    font-size: 26px;
    line-height: 1.33;
    color: $accent;

    @media screen and (min-width: 1366px) {
        font-size: 28px;
    }

    @media screen and (min-width: 1536px) {
        font-size: 30px;
    }

    @media screen and (min-width: 1920px) {
        font-size: 36px;
    }
}

.header__mobile {
    display: none;
    position: absolute;
    // display: flex;
    justify-content: space-between;
    padding-top: 10px;
    align-items: center;
    width: 100%;
    height: 120px;
    z-index: 1;

    @media screen and (min-width: 1280px) {
            display: none;
        }
}

.logo__mobile {
    display: block;
    width: 90px;
    height: 108px;
    background-image: url("../images/svg/logo__mobile.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
}

.button__burger {
    display: block;    
    width: 56px;
    height: 52px;
    background-image: url("../images/svg/burger.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
}












.header__mobile-menu {
    position: absolute;
    left: 4%;
    width: 334px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid $accent;
    border-radius: 25px 0px 0px 20px;
    background-color: $background;

    @media screen and (min-width: 393px) {
        left: 12%;
    }

    @media screen and (min-width: 768px) {
        left: 43%;
        width: 430px;
    }

    @media screen and (min-width: 1280px) {
        display: none;
    }
}

.button__close-thumb {
    padding-top: 22px;
    padding-left: 22px;
    padding-bottom: 22px;
}

.button__close {
    display: block;
    width: 56px;
    height: 52px;
    background-image: url("../images/svg/burger.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
}

.nav-mobile {
    min-height: 520px;
    padding-bottom: 36px;

    @media screen and (min-width: 393px) {
        min-height: 680px;
        padding-bottom: 78px;
    }

    @media screen and (min-width: 393px) {
        min-height: 830px;
        padding-bottom: 100px;
    }
}

.nav__list-mobile {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
























.nav__link-mobile {
    font-style: normal;
    font-weight: 400;
    font-size: 34px;
    line-height: 1.32;
    color: $accent;
}

.nav__link-mobile:hover::after,
.nav__link-mobile:focus::after {
    content: "";
    display: block;
    height: 3px;
    width: 100%;
    margin-top: 7px;
    background-color: $accent;
}

.nav__link-active {
    &::after {
        content: "";
        display: block;
        height: 3px;
        width: 100%;
        margin-top: 7px;
        background-color: $accent;
    }
}

