.hero {
    display: block;
    min-width: 360px;
    min-height: 800px;
    padding-top: 210px;
    background-image: url("../images/main/hero/hero360-1px.webp"), url("../images/main/hero/hero360-1px.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 0;

        @media screen and (min-device-pixel-ratio: 2),
            screen and (min-resolution: 192dpi),
            screen and (min-resolution: 2dppx) {
            background-image: url("../images/main/hero/hero360-2px.webp"), url("../images/main/hero/hero360-2px.jpg");
        }
    
    @media screen and (min-width: 393px){
        min-width: 393px;
        min-height: 873px;
        padding-top: 268px;
        background-image: url("../images/main/hero/hero393-1px.webp"), url("../images/main/hero/hero393-1px.jpg");

        @media screen and (min-device-pixel-ratio: 2),
            screen and (min-resolution: 192dpi),
            screen and (min-resolution: 2dppx) {
            background-image: url("../images/main/hero/hero393-2px.webp"), url("../images/main/hero/hero393-2px.jpg");
        }
    }

    @media screen and (min-width: 768px) {
        min-width: 768px;
        min-height: 1024px;
        padding-top: 244px;
        background-image: url("../images/main/hero/hero768-1px.webp"), url("../images/main/hero/hero768-1px.jpg");
    
        @media screen and (min-device-pixel-ratio: 2),
            screen and (min-resolution: 192dpi),
            screen and (min-resolution: 2dppx) {
            background-image: url("../images/main/hero/hero768-2px.webp"), url("../images/main/hero/hero768-2px.jpg");
        }
    }

    @media screen and (min-width: 1280px) {
        min-width: 1280px;
        min-height: 800px;
        padding-top: 242px;
        padding-right: 56px;
        background-image: url("../images/main/hero/hero1280-1px.webp"), url("../images/main/hero/hero1280-1px.jpg");
    
        @media screen and (min-device-pixel-ratio: 2),
            screen and (min-resolution: 192dpi),
            screen and (min-resolution: 2dppx) {
            background-image: url("../images/main/hero/hero1280-2px.webp"), url("../images/main/hero/hero1280-2px.jpg");
        }
    }

    @media screen and (min-width: 1366px) {
        min-width: 1366px;
        min-height: 768px;
        padding-top: 252px;
        padding-right: 44px;
        background-image: url("../images/main/hero/hero1366-1px.webp"), url("../images/main/hero/hero1366-1px.jpg");
    
        @media screen and (min-device-pixel-ratio: 2),
            screen and (min-resolution: 192dpi),
            screen and (min-resolution: 2dppx) {
            background-image: url("../images/main/hero/hero1366-2px.webp"), url("../images/main/hero/hero1366-2px.jpg");
        }
    }

    @media screen and (min-width: 1536px) {
        min-width: 1536px;
        min-height: 864px;
        padding-top: 286px;
        padding-right: 86px;
        background-image: url("../images/main/hero/hero1536-1px.webp"), url("../images/main/hero/hero1536-1px.jpg");
    
        @media screen and (min-device-pixel-ratio: 2),
            screen and (min-resolution: 192dpi),
            screen and (min-resolution: 2dppx) {
            background-image: url("../images/main/hero/hero1536-2px.webp"), url("../images/main/hero/hero1536-2px.jpg");
        }
    }

    @media screen and (min-width: 1920px) {
        width: 100%;
        min-height: 1080px;
        padding-top: 336px;
        padding-right: 148px;
        background-image: url("../images/main/hero/hero1920-1x.webp"), url("../images/main/hero/hero1920-1x.jpg");
    
        @media screen and (min-device-pixel-ratio: 2),
            screen and (min-resolution: 192dpi),
            screen and (min-resolution: 2dppx) {
            background-image: url("../images/main/hero/hero1920-2x.webp"), url("../images/main/hero/hero1920-2x.jpg");
        }
    }
}

.hero__title {
    font-family: $text-title;
    font-weight: 600;
    font-size: 38px;
    line-height: 1.33;
    text-align: center;
    color: $accent;
    text-shadow: 10px 10px 20px rgba(0, 0, 0, 0.42);

    @media screen and (min-width: 393px) {
        font-size: 42px;
    }

    @media screen and (min-width: 768px) {
        font-size: 62px;
    }

    @media screen and (min-width: 1280px) {
        font-size: 66px;
        text-align: right;
    }

    @media screen and (min-width: 1366px) {
        font-size: 72px;
    }

    @media screen and (min-width: 1536px) {
        font-size: 76px;
    }

    @media screen and (min-width: 1920px) {
        font-size: 84px;
    }
}