.videos {
    padding-top: 30px;
    padding-bottom: 30px;
    margin: 0 auto;

    @media screen and (min-width: 360px) {
        width: 360px;
        height: 800px;
    }

    @media screen and (min-width: 393px) {
        width: 393px;
        height: 873px;
        padding-top: 40px;
        padding-bottom: 40px;
    }

    @media screen and (min-width: 768px) {
        width: 768px;
        height: 1024px;
    }

    @media screen and (min-width: 1280px) {
        width: 1280px;
        height: 800px;
        padding-top: 70px;
        background-image: url("../images/main/videos/mandala1280-1x.png"), url("../images/main/videos/mandala1280-2x.png");
        background-position-x: center;
        background-position-y: 57%;
        background-size: 65%;
        background-repeat: no-repeat;
    } 
   
    @media screen and (min-width: 1366px) {
        width: 1366px;
        height: 768px;
        background-size: 62%;
    }
 
    @media screen and (min-width: 1536px) {
        width: 1536px;
        height: 864px;
        background-size: 64%;
    }
 
    @media screen and (min-width: 1920px) {
        width: 1920px;
        height: 1080px;
        padding-top: 100px;
        padding-bottom: 112px;
        background-size: 58%;
        background-position-y: 54%;
    }
}
            
.videos__image--top {
    display: block;
    width: 100%;
    height: 136px;
    margin: 0 auto;
    margin-bottom: 30px;
    background-image: url("../images/main/videos/mandala-1x.png"), url("../images/main/videos/mandala-2x.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    
    @media screen and (min-width: 393px) {
        height: 140px;
        margin-bottom: 40px;
    }

    @media screen and (min-width: 768px) {
        margin-bottom: 40px;
        background-size: cover;
    }
 
    @media screen and (min-width: 1280px) {
        display: none;
    }
}
        
.videos__title--box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 310px;
    height: 90px;
    margin: 0 auto;
    margin-bottom: 58px;
    background-color: $accent-style;
    border: 0.5px dashed #DFCDFC;

    @media screen and (min-width: 393px) {
        width: 330px;
        height: 94px;
    }
     
    @media screen and (min-width: 768px) {
        width: 534px;
        height: 130px;
    }
  
    @media screen and (min-width: 1280px) {
        width: 524px;
        height: 144px;
        margin: 0 auto;
        margin-bottom: 110px;
    }

    @media screen and (min-width: 1366px) {
        width: 490px;
        height: 120px;
        margin-bottom: 140px;
    }
    
    @media screen and (min-width: 1536px) {
        margin-bottom: 150px;
    }

    @media screen and (min-width: 1920px) {
        width: 720px;
        height: 170px;
    }
} 
                  
.videos__title {
    font-family: $text-title;
    font-style: italic;
    font-weight: 700;
    font-size: 34px;
    line-height: 1.32;
    text-align: center;
    color: $accent-assist;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);

    @media screen and (min-width: 393px) {
        font-size: 36px;
    }
    
    @media screen and (min-width: 768px) {
        font-size: 54px;
    }
    
    @media screen and (min-width: 1366px) {
        font-size: 56px;
    }
    
    @media screen and (min-width: 1536px) {
        font-size: 58px;
    }
    
    @media screen and (min-width: 1920px) {
        font-size: 70px;
    }
}
 
.videos__slider {
    position: relative;
    width: 260px;
    height: 160px;
    margin: 0 auto;
    margin-bottom: 56px;
    border: 3px solid $accent;
    box-shadow: 1px 1px 10px $accent;
    border-radius: 10px;
    background-image: url("../images/main/videos/test360.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    @media screen and (min-width: 393px) {
        width: 280px;
        height: 176px;
        margin-bottom: 58px;
    }
 
    @media screen and (min-width: 768px) {
        width: 440px;
        height: 276px;
        margin-bottom: 58px;
    }

    @media screen and (min-width: 1280px) {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 1050px;
        height: 220px;
        margin-bottom: 120px;
        background-image: none;
        border: none; 
        box-shadow: none;
        border-radius: 0;
    }

    @media screen and (min-width: 1536px) {
        width: 1130px;
        height: 230px;
        margin-bottom: 150px;
    }

    @media screen and (min-width: 1920px) {
        width: 1440px;
        height: 290px;
        margin-bottom: 170px;
    }
} 
                  
.videos__slider--first,
.videos__slider--second,
.videos__slider--third {
    @media screen and (max-width: 1279px) {
        display: none;
    }

    @media screen and (min-width: 1280px) {
        display: block;
        width: 320px;
        height: 220px;
        background-image: url("../images/main/videos/test.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        border: 3px solid $accent;
        box-shadow: 1px 1px 10px $accent;
        border-radius: 10px;
    }

    @media screen and (min-width: 1536px) {
        width: 350px;
        height: 230px;
    }

    @media screen and (min-width: 1920px) {
        width: 430px;
        height: 290px;
    }
}
    
.videos__slider--left {
    position: absolute;
    top: 38%;
    left: -15%;
    width: 50px;
    height: 36px;
    background-color: rgba(234, 236, 251, 0.82);
    border: 1px solid $accent;
    box-shadow: -1px -1px 18px rgba(0, 0, 0, 0.14), 1px 1px 18px rgba(0, 0, 0, 0.14);
    background-image: url("../images/svg/arrows-left.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
    cursor: pointer;

    @media screen and (min-width: 768px) {
        top: 40%;
        left: -12%;
        width: 68px;
        height: 54px;
        border-radius: 15px;
    }

    @media screen and (min-width: 1280px) {
        left: -8.5%;
    }

    @media screen and (min-width: 1366px) {
        left: -9.5%;
    }

    @media screen and (min-width: 1536px) {
        width: 76px;
        height: 60px;
    }

    @media screen and (min-width: 1920px) {
        width: 96px;
        height: 76px;
    }
}
     
.videos__slider--right {
    position: absolute;
    top: 38%;
    left: 95%;
    width: 50px;
    height: 36px;
    background-color: rgba(234, 236, 251, 0.82);
    border: 1px solid $accent;
    box-shadow: -1px -1px 18px rgba(0, 0, 0, 0.14), 1px 1px 18px rgba(0, 0, 0, 0.14);
    background-image: url("../images/svg/arrows-right.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
    cursor: pointer;

    @media screen and (min-width: 768px) {
        top: 40%;
        left: 96%;
        width: 68px;
        height: 54px;
        border-radius: 15px;
    }

    @media screen and (min-width: 1280px) {
        left: 102%;
    }

    @media screen and (min-width: 1366px) {
        top: 40%;
        left: 103%;
    }

    @media screen and (min-width: 1536px) {
        width: 76px;
        height: 60px;
    }

    @media screen and (min-width: 1920px) {
        width: 96px;
        height: 76px;
    }
}
        
.videos__link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0 auto;
    margin-bottom: 38px;
    width: 198px;
    height: 36px;
    background: rgba(234, 236, 251, 0.82);
    border: 1px solid $accent;
    box-shadow: -1px -1px 18px rgba(0, 0, 0, 0.14), 1px 1px 18px rgba(0, 0, 0, 0.14);
    border-radius: 20px;
    cursor: pointer;

    @media screen and (min-width: 393px) {
        width: 218px;
        height: 42px;
    }

    @media screen and (min-width: 768px) {
        width: 306px;
        height: 56px;
        padding-left: 14px;
        padding-right: 14px;
        border-radius: 25px;
    }

    @media screen and (min-width: 1280px) {
        margin-bottom: 0;
    }

    @media screen and (min-width: 1920px) {
        width: 358px;
        height: 78px;
        padding-left: 20px;
        padding-right: 20px;
        border-radius: 35px;
    }
}
             
.videos__link--text {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.33;
    text-align: center;
    color: $accent-assist;

    @media screen and (min-width: 393px) {
        font-size: 20px;
    }
    
    @media screen and (min-width: 768px) {
        font-size: 28px;
    }
    
    @media screen and (min-width: 1920px) {
        font-size: 32px;
    }
}

.videos__arrows {
    display: block;
    width: 26px;
    height: 26px;
    background-image: url("../images/svg/arrows-right.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

    @media screen and (min-width: 393px) {
        width: 30px;
        height: 28px;
    }

    @media screen and (min-width: 768px) {
        width: 44px;
        height: 40px;
    }

    @media screen and (min-width: 1920px) {
        width: 48px;
        height: 46px;
    }
}
            
.videos__image--bottom {
    display: block;
    width: 100%;
    height: 136px;
    margin: 0 auto;
    background-image: url("../images/main/videos/mandala-1x.png"), url("../images/main/videos/mandala-2x.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

    @media screen and (min-width: 393px) {
        height: 140px;
    }

    @media screen and (min-width: 768px) {
        background-size: cover;
    }

    @media screen and (min-width: 1280px) {
        display: none;
    }
}
 
 
    